.creditsGrid {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    /* grid-auto-rows: 240px; */
    grid-gap: 12px;
    justify-content: start;
    /* padding: 0 15px; */
    margin:  0;
    list-style-type: none;
}

